<%- include('../includes/header.ejs') %>
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    <main>
        <h1>Nothing there yet!</h1>
    </main>
    <%- include('../includes/footer.ejs') %>